* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;

}

body {
    
}

img {
    border-radius: 100%;
    width: 150px;
    height: 150px;
}

.Container {
    background-color: black;
    height: 100vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.Container .Welcome_Section {
    text-align: center;

}

.Container .Content {
    flex-grow: 1;
    display: flex;
    gap: 1rem;

}

.Content .Profile {
    background-color: hsl(0, 0%, 20%);
    width: 20%;
    height: 70%;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 18px;
}

.Profile .Me {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

}

.Profile .Education {
    text-align: center;

}

.Profile .Contact {
    flex-grow: 1;

} 

.Contact ul {
    font-size: 20px;
    margin-left: 50px;

}

.Content .Abouts {
    background-color: hsl(0, 0%, 20%);
    flex-grow: 1;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 18px;
}

.Abouts > * {
   background-color: orange; 
   flex-grow: 1;

}