@font-face {
    font-family: 'Fixedsys';
    src: url('../assets/fonts/FSEX300.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #41EC55;
}

body {
    overflow: hidden;
    background-color: #000000;
}

h1 {
    font-family: 'Fixedsys';
    font-size: 3rem;
    color: #41EC55;
}

.Navigation_Bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    padding: 20px;
    border-bottom: solid ;
    z-index: 1000;
    
}

.Navigation_Bar nav {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .Title,
nav .Navigation_List a {
    font-family: 'Fixedsys';
    font-size: 2rem;
    text-decoration: none;
    cursor: pointer;

}

nav .Navigation_List {
    display: flex;
    gap: 2rem;
}

nav .Navigation_List a {
    font-size: 1.5rem;
    padding: 5px 10px;
    border: none;
    background: transparent;
}

nav .Navigation_List a:hover,
.Title span:hover {
    color: #96F996;
}

.Container {
    position: relative;
    height: 100vh;
    padding-top: 60px;
}

.section {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: calc(100vh - 60px);
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.3s ease;
}

#Home {
    opacity: 1;
    visibility: visible;
}
    
.section:target {
    background-color: #000000;
    opacity: 1;
    visibility: visible;
}
    
#Home:target {
    background-color: #000000;
    opacity: 1;
    visibility: visible;
}

#Home {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.div1,
.div2,
.div3 {
    font-family: 'Courier New', Courier, monospace;
    background-color: transparent;
    border-color: #41EC55;
    border-style: solid;
    border-width: 2px;

}

.div1 {
    grid-area: 1 / 1 / 6 / 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 20px;

}

.Profile {
    width: 100%;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.div1 .Profile img {
    height: 300px;
    width: 350px;
    
    border-style: solid;

}

.div1 .Personal_Info {
    flex-basis: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 2rem;

}


.div1 .Personal_Info > div {
    font-size: 1.5rem;
    flex-basis: 100%;

}

.div1 .Personal_Info .Hobbies ul{
    margin-left: 20px;

}

.div2 {
    grid-area: 1 / 4 / 4 / 6;
    display: flex;
    align-items: flex-start;
    padding: 10px;
    
}

.div3 {
    grid-area: 4 / 4 / 6 / 6;
    display: flex;
    align-items: flex-start;
    padding: 10px;
    
}

#Contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Contacts .Contact_Info {
    position: relative;
    height: 300px;
    width: 50%;
    border-style: solid;
    padding: 30px;

}

.Contact_Info h1 {
    background-color: #000000;
    padding: 10px;
    position: absolute;
    top: -45px;
    
}

.Contact_Info .Information {
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.Information .Accounts {
    flex-grow: 1;
    font-size: 1.2rem;
    
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.Information label ul {
    margin-left: 75px;

}

@keyframes parangHackerNaFont {
    from {
        color: #41EC55;
    }
    to {
        color: transparent;
    }

}