@font-face {
  font-family: "Fixedsys";
  src: url("../assets/fonts/FSEX300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
